<br>
<br>
<br>
<br>
<hr>
<br>
<h2>DATA-BIDING</h2>

<section class="property-biding">

  <article>
    <h4>Interpolação</h4>
    <p>String reinderizada com interpolação {{ url }}</p>
    <p>Resultado de 1+1 é:  {{ 1+1 }}</p>
    <p>Resultado de 1+1 não é {{ 1+1 + getValor()}}</p>
    <p>Estou gostando do Angular? {{ getCurtiCurso() }}</p>
  </article>

  <br>
  <article>
    <h4>Property Biding</h4>
    <img src="{{ urlimg }}" alt="imagem" width="25%"><br>
    <img [src]="urlimg" alt="imagem" width="25%">
  </article>
</section>

  <br>
  <br>
<section>
  <article>
    <h4>Class e Style Biding</h4>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <div class="alert {{ classe.value }}" role="alert">Texto colorido com o valor do Class.Value</div>
      <div role="alert" class="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div role="alert" class="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div role="alert" class="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
      <div role="alert" class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">Esse texto aparece somente em caso de Erro</div>
    </div>
  </article>
</section>

<br>
<section class="event biding">
  <article>
    <h4>Event-Biding</h4>
    <div>
      <button (click)="MostrarClique()" classe="btn btn-primary">Clica</button>
      <br>
      <input type="text" (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor($event)">
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>

      <br>
      <span (mouseover)="OnMouseOverOut()" (mouseout)="OnMouseOverOut()" [class.highlight]="isMouseOver">Passe o mouse sobre mim😃😄😁</span>
    </div>
  </article>
</section>
<br>

<br>
<br>
<section class="two-way-biding">
  <article>

    <h4>Two-Way Data Biding</h4>
    <div>
      <!-- Com os dois jeitos abaixo funcionará -->
      <input type="text" [(ngModel)]="nome"> <!-- Melhor usar essa-->
      <input type="text" bindon-ngModel="nome">

      <p>Você digitou: {{ nome }}</p>
    </div>
    <div>
      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos.</p>

      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
    </div>
    <br>

  </article>
</section>


<br>
<br>
<section class="input-output-properties">
  <article>
    <h4>Input/Output Properties</h4>

    <!-- Input Property -->
    <p><strong>input property</strong></p>
    <app-input-property [curso]="nome_do_curso"></app-input-property>

    <!-- Output Property -->
    <p><strong>output property</strong></p>
    <contador-output-property [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador-output-property>

  </article>
</section>
