<h1>{{title}}</h1>
<meu-primeiro-component></meu-primeiro-component>
<app-my-second-first></app-my-second-first>

<p>Portal: {{portal}}</p>
<ul>
  <li *ngFor="let curso of cursos">{{curso}}</li>
</ul>

<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ngfor></app-diretiva-ngfor>
<app-diretiva-nclass></app-diretiva-nclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-diretivas-customizadas></app-diretivas-customizadas>
<app-data-biding></app-data-biding>

<!-- DEIXE O TEXTO ACIMA ☝🏽☝🏽 COMO COMENTÁRIO, PARA VER A SOLUÇÃO DO DESAFIO 1  -->
<!-- <app-exec1></app-exec1>
<p appDiretivaCustomizada></p>
<app-diretivas-customizadas></app-diretivas-customizadas> -->
